<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="fogotPasswordForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf='sendEmail'>
        <ion-label stacked>Code</ion-label>
        <ion-input formControlName="code" type="text" [disabled]="!sendEmail"></ion-input>
      </ion-item>
      <ion-item *ngIf='sendEmail'>
        <ion-label stacked>Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item *ngIf='sendEmail'>
        <ion-label stacked>Re-entry Password</ion-label>
        <ion-input formControlName="confirmPassword" type="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <button ion-button round full type="submit" [disabled]="!fogotPasswordForm.valid">
          <p *ngIf="sendEmail">Change Password</p>
          <p *ngIf="!sendEmail">Send email</p>
        </button>
      </ion-col>
    </ion-row>
  </form>
  <button ion-button block clear  (click)="chageButton()">
    <p *ngIf="!sendEmail">I have a code</p>
    <p *ngIf="sendEmail">Re-send email</p>
  </button>
</ion-content>
